{% extends 'base.html' %}
{% load static%}
{% block content %}
{% include 'include/nav.html' %}

<section class="section-conten padding-y bg  " style="margin-top: 100px ;" >

    
    <div class="container card mb-5 " style="background-color: #1f1d29;" >

        <div class="row">
	{% include 'include/myaccount_sidebar.html' %}

        <main class="col-md-9 ">
            {% for message in messages %}
                <div>
                  <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
                </div>
                {% endfor %}
            
            <article class="card">
                
            <header class="card-header" style="background-color: #ffffff;" >
                <strong class="d-inline-block mr-3">Change your Password</strong>
                
            </header>
            <div class="card-body">
                
                <div class="row ">
                    <div class="col-md-12 ">

                      <form action="{% url 'change_password' %}" method="POST"  >
                        {% csrf_token %}
                        <div class="form-row">
                        <div class="form-group col-md-6">
         
                            <div class="form-group ">
                                <label > Current Password</label>
                                <input type="password" name="current_password" placeholder=" Current Password" class="form-control" required>
                            </div>
                            <div class="form-group ">
                                <label >Create new Password </label>
                                <input type="password" name="new_password" placeholder=" Create new Password" class="form-control" required>
                            </div>
                            <div class="form-group ">
                                <label > Confirm new Password  </label>
                                <input type="password" name="confirm_password" placeholder=" Confirm new Password" class="form-control" required>

                            </div>
                            <div class="form-row">
                                
                                <button type="submit" class="btn btn-dark mx-2" >Submit</button>
                                </div>
                                
                                
                            
                        </form>  
                    </div>
                
    
                
    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
    
            </article> <!-- order-group.// -->
     
    
   
</section>
    
    
  
{% endblock %}

{% include 'include/footer.html' %}





