{% extends 'base.html' %}
  {% load static%} 
    {% block content %} 
      {% include 'include/nav.html' %}

<section class="section-conten padding-y bg" style="margin-top: 100px;">
    
    <div class="container mb-5" style= background-color:#F3F2EE;>
        <div class="row">
            {% include 'include/manager_sidebar.html' %}


            <main class="col-md-9 "> 
              <h2 class="text-center font-weight-bold text-dark my-5">Banner Management</h2>

            <div class="row d-flex flex-row-reverse">
          <a href="{% url 'add_banner' %}" class="btn btn-dark m-3 col-2 ">Add New</a>
        </div>
            <div class="row shopping__cart__table">
                <table class="table bg-white">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">banner</th>
                        <th scope="col">Brand Name</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for banner in banners %}
                        <tr>
                          <th scope="row">{{ banner.id }}</th>
                          <td><img src="{{ banner.img.url }}" width="350" height="150" alt=""></td>
                          <td>{{ banner.Brandname }}</td>
                          <td><a href="{% url 'update_banner' banner.id %}" class= "btn-sm btn-warning">Update</a></td>
                          <td><a href="{% url 'delete_banner' banner.id %}" class= "btn-sm btn-dark">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                

              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    {% include 'include/footer.html' %}
    {% endblock %}