{% extends 'base.html' %}
  {% load static%} 
    {% block content %} 
      {% include 'include/nav.html' %}

<section class="section-conten padding-y bg" style="margin-top: 100px;">
    
    <div class="container mb-5" style= background-color:#1f1d29;>
        <div class="row">
            {% include 'include/manager_sidebar.html' %}

            {% for message in messages %}
            <div>
              <p class=" my-5 alert alert-{{message.tags}}">{{message}}</p>
            </div>
            {% endfor %}
            <main class="col-md-9 "> 
              <h2 class="text-center font-weight-bold text-white my-5">Brand Ads Management</h2>

            <div class="row d-flex flex-row-reverse">
          <a href="{% url 'add_brandads' %}" class="btn btn-dark m-3 col-2 ">Add New</a>
        </div>
            <div class="row shopping__cart__table">
                <table class="table bg-white">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">banner</th>
                        <th scope="col">Brand Name</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for brandads in brandads %}
                        <tr>
                          <th scope="row">{{ brandads.id }}</th>
                          <td><img src="{{ brandads.img.url }}" width="250" height="250" alt=""></td>
                          <td>{{ brandads.Brandname }}</td>
                          <td><a href="{% url 'update_brandads' brandads.id %}" class= "btn-sm btn-warning">Update</a></td>
                          <td><a href="{% url 'delete_brandads' brandads.id %}" class= "btn-sm btn-dark">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                

              </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    {% include 'include/footer.html' %}
    {% endblock %}